# Main Library/Framework
fastapi==0.115.12
pydantic[email]==2.10.6
pydantic-settings==2.8.1
sqlalchemy==2.0.39
loguru==0.7.3
asyncpg==0.30.0
argon2-cffi==23.1.0
python-dotenv==1.1.0
authx==1.4.2
pytz==2025.2
uvicorn==0.34.0


# Library/Framework dependencies
annotated-types==0.7.0
anyio==4.9.0
greenlet==3.1.1
idna==3.10
pydantic_core==2.27.2
sniffio==1.3.1
starlette==0.46.1
typing-extensions==4.13.0
argon2-cffi-bindings==21.2.0
cffi==1.17.1
colorama==0.4.6
dnspython==2.7.0
email-validator==2.2.0
pycparser==2.22
cryptography==44.0.2
ecdsa==0.19.1
itsdangerous==2.2.0
pyasn1==0.4.8
pyjwt==2.10.1
python-dateutil==2.9.0.post0
python-jose==3.4.0
rsa==4.9
six==1.17.0
click==8.1.8
h11==0.14.0